body {
  padding: 5%;
  font-family: sans-serif;
  font-size: 16px;
  background-color: #f2f2f2;
}
#root{
	
}
.list{
	padding: 10px;
	color: #33331a;
	width: 70%;
	padding-left: 8%;

}
button.del{
	background-color: #ff1a1a;
}
button.del:hover{
	background-color: #ff5050;
}

button{
	padding: 7px;
	font-size: 10px;
	margin: 5px;
	color:white;
	background-color: #5c8a8a;
	border: 2px solid #f6f6ee;
	border-radius: 5px;
}
button:hover{
	background-color: #aaaa55;
}
.list li{
	background-color: #d9d9d9;
	padding: 10px;
	margin: 15px;
	border-radius: 5px;
	text-align: left;
}
input{
	padding: 10px;
	font-size: 16px;
	border: 2px solid #5c8a8a;
	margin: 10px;
	position:relative;
	left: 300px;
}
#details{
	opacity: 0.5;
	
}

#TaskDetails{
	position: relative;
	left: 300;
}
h3{
	position: relative;
	left: 320px;
}

#top{

	position: relative;
	left:600px;
	top:5px;
	
}